:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --third-white-color: rgba(255, 255, 255, 0.1);
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 93px;
}

.logo-part-one {
  color: var(--accent-color);
}

.logo-part-two {
  color: #000000;
}

.logo-part-two-footer {
  color: var(--primary-white-color);
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-time) var(--cubic);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-time) var(--cubic);
}

.contact-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(".././images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-dark-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-time) var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.advantages-section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-item:not(:last-child) {
  margin-right: 32px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-light-color);
  margin-bottom: 30px;
}

.advantage {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.advantage-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.works {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  margin: -15px;
}

.works-item {
  margin: 15px;
  position: relative;
}

.works-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 81px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.team-section {
  background-color: var(--background-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-item {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 30px 32px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color var(--transition-time) var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.our-clients-section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-list {
  display: flex;
  align-items: center;
  margin: -15px;
}

.our-client-item {
  margin: 15px;
}

.our-client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--cubic);
}

.our-client-link:hover,
.our-client-link:focus {
  border-color: var(--accent-color);
}

.client-logo {
  fill: var(--icon-color);
  transition: fill var(--transition-time) var(--cubic);
}

.our-client-link:hover .client-logo,
.our-client-link:focus .client-logo {
  fill: var(--accent-color);
}

.first-client {
  width: 44px;
  height: 49px;
}

.second-client {
  width: 40px;
  height: 52px;
}

.third-client {
  width: 41px;
  height: 43px;
}

.fourth-client {
  width: 80px;
  height: 42px;
}

.fifth-client {
  width: 59px;
  height: 47px;
}

.sixth-client {
  width: 88px;
  height: 45px;
}

/* footer */

.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}

.footer .footer-navigation {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  cursor: pointer;
  text-decoration: none;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  cursor: pointer;
  text-decoration: none;
}

.footer-social-container {
  margin-right: 93px;
  padding-top: 12px;
  width: 206px;
}

.footer-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-white-color);
  transition: background-color var(--transition-time) var(--cubic);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.email-container {
  padding-top: 12px;
}

.footer-form {
  display: inline-flex;
  align-items: center;
}

.email-field {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--background-dark-color);
  margin-right: 12px;
  padding-left: 16px;
  color: var(--secondary-white-color);
}

.email-field::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-time) var(--cubic);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* portfolio */

.portfolio-section {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filters {
  display: flex;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-light-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic),
    box-shadow var(--transition-time) var(--cubic);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter:hover,
.filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-options {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.option-item {
  margin: 15px;
}

.portfolio-card {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--transition-time) var(--cubic);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.card-text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 62px 24px;
  transform: translateY(100%);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-time) var(--cubic);
}

.portfolio-card:hover .card-text,
.portfolio-card:focus .card-text {
  transform: translateY(0);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--primary-white-color);
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;

  transition: all var(--transition-time) var(--cubic);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.text-field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-time) var(--cubic);
}

.text-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.text-field:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-time) var(--cubic);
}

.submit-button {
  display: inline-flex;
  align-items: center;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-time) var(--cubic);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

.feedback-text {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-time) var(--cubic);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-top: 4px;
}

.feedback-text:focus {
  outline: none;
  border-color: var(--accent-color);
}

.feedback-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox:checked + .policy::before {
  background-image: url(../icons/icon-check.svg);
  background-size: cover;
  background-origin: border-box;
  border-color: transparent;
  background-color: var(--accent-color);
}

.checkbox:focus + .policy::before {
  border: 2px solid var(--accent-color);
}

.policy-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}
